body {
  font-family: "Jost";
  font-size: 28px;
}

h1,
h2,
header {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

main {
  text-align: center;
}

ul {
  list-style: none;
}

nav > ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 0% 7.5%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
}

nav > * {
  margin: 2% 4% 5%;
  width: 33%;
}

img.cover {
  width: 71.6%;
  border-radius: 50px;
}

img.product {
  width: 20%;
  border-radius: 20px;
}

img.avatar {
  width: 5.55%;
  border-radius: 50%;
}

button {
  background-color: #8c9fe3;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-family: "Jost";
}

button.more {
  width: 25%;
  font-size: 23px;
}

button.submit {
  font-size: 21px;
}

form {
  width: 48.6%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50px;
}

textarea,
input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #c2c2c2;
  font-family: "Jost";
  font-size: 28px;
  font-weight: 300;
}

textarea {
  min-height: min-content;
}

.example_product {
}
